@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* cabeçalho */

header{
    background-color: #689ee4;
}

#header-container{  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0.5em 2em;
    box-shadow: none;
    width: auto;
}


#title{
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14rem;
    align-self: center;
}

#header1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ancora{
    text-decoration: none;
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0525rem;
}

nav{
    width: 1000px;
    text-align: center;
}

.ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

li{
    list-style: none;
}

.ancora:hover{
    color: #0e0846;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.ti{
    color: var(--gray-1, #333);
}

.btn-mobile{
    background-color: transparent;
    border: none;
    display: none;
}

/* body */

main{
    margin: auto;
}

/* estilo das listas */

.tasks-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks-title{
    margin-top: 0;
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14rem;
}

.tasks-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;   
    background-color: #FFF;
    width: 400px;
    height: 50px;
    line-height: 50px;
    border: 0.5px solid #0c0c0c;
    border-radius: 10px;
}

.done{
    border: 1px solid #3e33a0;
    background-color: #3e33a0;
    font-weight: bold;
    text-decoration: line-through;
}

.textdone{
    color: white;
    font-family: Space Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0525rem;
}

.btninput{
    font-size: 20px;
    padding: 0.2em;
}

.tasks-name{
    color: var(--gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0525rem;
}

/* estilo botões */

.to-do-btn{
    display: flex; 
}

.s{
    margin-right: 0.1em;
}

.s:hover{
    border: 1px solid black;
    background-color: rgb(28, 182, 28);
}

.c:hover{
    border: 1px solid black;
    background-color: rgb(201, 41, 41);
}

/* estilo entrada das tarefas */

#tasks{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

#form{
    display: flex;
    flex-direction: row;
}

#input-tasks{
    box-shadow: none;
    padding: 0.5em;
    width: 20em;
    border: 1px solid black;
    outline-style: none;
}

#btn{
    box-shadow: none;
    border: 1px solid black;
    background-color: rgb(198, 209, 46);
    cursor: pointer;
    padding: 0.2em;
    transition: 0.5s;
    width: 40px;
}

#btn:hover{
    background-color: #766bdb;
}

/* ícones */

ion-icon{
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}

/* estilo tarefas */

#tasks-container{
    height: 300px;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

/* tarefas à fazer */

#to-do{
    display: flex;
    flex-direction: column;
}


/* tarefas completas */

#completed{
    display: flex;
    flex-direction: column;
    height: 50px;
    line-height: 50px;
}

/* esconder tasks */
.hide{
    display: none;
}

footer{
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    margin-bottom: 1.5em;
}

#home{
    margin-top: 36em;
}

#to-do-footer{
    margin-top: 32em;
}



@media screen and (max-width: 500px) {

    .tasks-name{
        font-size: 0.6rem;
    }

    #input-tasks{
        width: 18em;
        height: 2em;
    }

    #tasks{
        margin: 0 auto;
    }

    .tasks-title{
        font-size: 1rem;
    }

    #tasks-container{
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
    }

    .tasks-style{
        width: 350px;
        height: 50px;
        line-height: 50px;
    }

    #title{
        display: inline-block;
        font-size: 1.2em;
    }

    #header-container{
        justify-content: space-between;
    }

    #header1{
        align-items: center;
        height: 70px;
    }

    #image{
        display: inline-block;
        height: 70%;
    }

    .ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        height: 0;
        right: 0;
        background-color: #689ee4;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .li{
        visibility: hidden;
    }

    nav{
        width: 0;
    }

    nav.active .ul{
        height: calc(100vh - 85px);
        visibility: visible;
        overflow-y: auto;
    }

    nav.active .li{
        visibility: visible;
        padding: 1.5em 0;
        border-top: 2px solid rgba(8, 8, 8, 0.2);
        border-bottom: 2px solid rgba(8, 8, 8, 0.2);
    }

    nav.active .li:not(:first-child) {
        border-top: none;
    }

    .btn-mobile{
        display: block;
    }

    .tasks-title{
        font-size: 1.2em;
    }

    .tasks-name{
        font-size: 1em;
    }

    footer{
        margin-top: 32em;
    }

}

@media screen and (min-width: 768px) and (max-width: 1025px){

    nav{
        width: 400px;
    }


}

@media screen and (min-width: 321px) and (max-width: 375px){

    #input-tasks{
        width: 15em;
        height: 2em;
    }

}

@media screen and (max-width: 321px){

    #input-tasks{
        width: 12em;
        height: 2em;
    }

}
